<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.eu.sixlab.sixtools.common.dao.MovieRecordMapper">

	<resultMap id="BaseResultMap" type="org.eu.sixlab.sixtools.common.beans.MovieRecord" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="movie_name" property="movieName" jdbcType="VARCHAR" />
		<result column="country" property="country" jdbcType="VARCHAR" />
		<result column="produce_year" property="produceYear" jdbcType="VARCHAR" />
		<result column="director" property="director" jdbcType="VARCHAR" />
		<result column="view_date" property="viewDate" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="BaseSql">
		id,
		movie_name,
		country,
		produce_year,
		director,
		view_date,
		remark
	</sql>

	<insert id="insert" parameterType="org.eu.sixlab.sixtools.common.beans.MovieRecord" useGeneratedKeys="true" keyProperty="id">
		insert into movie_record
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="movieName != null" >
				movie_name,
			</if>
			<if test="country != null" >
				country,
			</if>
			<if test="produceYear != null" >
				produce_year,
			</if>
			<if test="director != null" >
				director,
			</if>
			<if test="viewDate != null" >
				view_date,
			</if>
			<if test="remark != null" >
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="movieName != null" >
				#{movieName,jdbcType=VARCHAR},
			</if>
			<if test="country != null" >
				#{country,jdbcType=VARCHAR},
			</if>
			<if test="produceYear != null" >
				#{produceYear,jdbcType=VARCHAR},
			</if>
			<if test="director != null" >
				#{director,jdbcType=VARCHAR},
			</if>
			<if test="viewDate != null" >
				#{viewDate,jdbcType=VARCHAR},
			</if>
			<if test="remark != null" >
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<select id="selectAll" resultMap="BaseResultMap">
		SELECT
			<include refid="BaseSql" />
		FROM
		movie_record
		ORDER BY id
	</select>

	<update id="update" parameterType="org.eu.sixlab.sixtools.common.beans.SixTray">
		UPDATE movie_record
		<set>
			<if test="movieName!=null and movieName!=''">
				movie_name = #{movieName,jdbcType=VARCHAR},
			</if>
			<if test="country!=null and country!=''">
				country = #{country,jdbcType=VARCHAR},
			</if>
			<if test="produceYear!=null and produceYear!=''">
				produce_year = #{produceYear,jdbcType=VARCHAR},
			</if>
			<if test="director!=null and director!=''">
				director = #{director,jdbcType=VARCHAR},
			</if>
			<if test="viewDate!=null and viewDate!=''">
				view_date = #{viewDate,jdbcType=VARCHAR},
			</if>
			<if test="remark !=null and remark!=''">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<select id="selectByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
		<include refid="BaseSql" />
		FROM
		movie_record
		<where>
			id like '%'||#{keyword,jdbcType=VARCHAR}||'%'
			OR movie_name like '%'||#{keyword,jdbcType=VARCHAR}||'%'
			OR country like '%'||#{keyword,jdbcType=VARCHAR}||'%'
			OR produce_year like '%'||#{keyword,jdbcType=VARCHAR}||'%'
			OR director like '%'||#{keyword,jdbcType=VARCHAR}||'%'
			OR view_date like '%'||#{keyword,jdbcType=VARCHAR}||'%'
			OR remark like '%'||#{keyword,jdbcType=VARCHAR}||'%'
		</where>
		ORDER BY id
	</select>

	<select id="selectByMovieName" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
		<include refid="BaseSql" />
		FROM
		movie_record
		<where>
			  movie_name like '%'||#{name,jdbcType=VARCHAR}||'%'
			OR remark like '%'||#{name,jdbcType=VARCHAR}||'%'
		</where>
		ORDER BY id
	</select>
</mapper>