<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.eu.sixlab.sixtools.common.dao.SixTrayMapper">

	<resultMap id="BaseResultMap" type="org.eu.sixlab.sixtools.common.beans.SixTray" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="tray_name" property="trayName" jdbcType="VARCHAR" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="command" property="command" jdbcType="VARCHAR" />
		<result column="params" property="params" jdbcType="VARCHAR" />
		<result column="tool_type" property="toolType" jdbcType="VARCHAR" />
		<result column="tray_type" property="trayType" jdbcType="VARCHAR" />
		<result column="tool_order" property="toolOrder" jdbcType="INTEGER" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="BaseSql">
		id,
		tray_name,
		path,
		command,
		params,
		tool_type,
		tray_type,
		tool_order,
		parent_id,
		create_time,
		update_time
	</sql>

	<insert id="insert" parameterType="org.eu.sixlab.sixtools.common.beans.SixTray" useGeneratedKeys="true" keyProperty="id">
		insert into six_tray
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				id,
			</if>
			<if test="trayName != null" >
				trayName,
			</if>
			<if test="path != null" >
				path,
			</if>
			<if test="command != null" >
				command,
			</if>
			<if test="params != null" >
				params,
			</if>
			<if test="toolType != null" >
				toolType,
			</if>
			<if test="trayType != null" >
				trayType,
			</if>
			<if test="toolOrder != null" >
				toolOrder,
			</if>
			<if test="parentId != null" >
				parentId,
			</if>
			<if test="createTime != null" >
				create_time,
			</if>
			<if test="updateTime != null" >
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=INTEGER},
			</if>
			<if test="trayName != null" >
				#{trayName,jdbcType=VARCHAR},
			</if>
			<if test="path != null" >
				#{path,jdbcType=VARCHAR},
			</if>
			<if test="command != null" >
				#{command,jdbcType=VARCHAR},
			</if>
			<if test="params != null" >
				#{params,jdbcType=VARCHAR},
			</if>
			<if test="toolType != null" >
				#{toolType,jdbcType=VARCHAR},
			</if>
			<if test="trayType != null" >
				#{trayType,jdbcType=VARCHAR},
			</if>
			<if test="toolOrder != null" >
				#{toolOrder,jdbcType=INTEGER},
			</if>
			<if test="parentId != null" >
				#{parentId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null" >
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null" >
				#{updateTime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<select id="selectAll" resultMap="BaseResultMap">
		SELECT
			<include refid="BaseSql" />
		FROM
		six_tray
		ORDER BY tool_order,id
	</select>

	<update id="update" parameterType="org.eu.sixlab.sixtools.common.beans.SixTray">
		UPDATE six_tray
		<set>
			<if test="trayName!=null and trayName!=''">
				tray_name = #{trayName,jdbcType=VARCHAR},
			</if>
			<if test="path!=null and path!=''">
				path = #{path,jdbcType=VARCHAR},
			</if>
			<if test="command!=null and command!=''">
				command = #{command,jdbcType=VARCHAR},
			</if>
			<if test="params!=null and params!=''">
				params = #{params,jdbcType=VARCHAR},
			</if>
			<if test="toolType!=null and toolType!=''">
				tool_type = #{toolType,jdbcType=VARCHAR},
			</if>
			<if test="trayType!=null and trayType!=''">
				tray_type = #{trayType,jdbcType=VARCHAR},
			</if>
			<if test="toolOrder!=null and toolOrder!=''">
				tool_order = #{toolOrder,jdbcType=INTEGER},
			</if>
			<if test="parentId !=null and parentId!=''">
				parent_id = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="createTime !=null and createTime!=''">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime !=null and updateTime!=''">
				update_time = #{updateTime,jdbcType=VARCHAR}
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<select id="selectByOne" parameterType="org.eu.sixlab.sixtools.common.beans.SixTray" resultMap="BaseResultMap">
		SELECT
		<include refid="BaseSql" />
		FROM
		six_tray
		<where> 1=1
			<if test="id!=null and id!=''">
				AND id = #{id,jdbcType=INTEGER}
			</if>
			<if test="trayName!=null and trayName!=''">
				AND tray_name = #{trayName,jdbcType=VARCHAR}
			</if>
			<if test="path!=null and path!=''">
				AND path = #{path,jdbcType=VARCHAR}
			</if>
			<if test="command!=null and command!=''">
				AND command = #{command,jdbcType=VARCHAR}
			</if>
			<if test="params!=null and params!=''">
				AND params = #{params,jdbcType=VARCHAR}
			</if>
			<if test="toolType!=null and toolType!=''">
				AND tool_type = #{toolType,jdbcType=VARCHAR}
			</if>
			<if test="trayType!=null and trayType!=''">
				AND tray_type = #{trayType,jdbcType=VARCHAR}
			</if>
			<if test="toolOrder!=null and toolOrder!=''">
				AND tool_order = #{toolOrder,jdbcType=INTEGER}
			</if>
			<if test=" parentId !=null ">
				AND parent_id = #{parentId,jdbcType=INTEGER}
			</if>
		</where>
		ORDER BY tool_order,id
	</select>

	<!--insert id="insertMovie" parameterType="record" flushCache="true"
		statementType="PREPARED" keyProperty="id"
		useGeneratedKeys="true" >
		INSERT INTO
		saw(name
		<if test="country!=null and country!=''">
			,country
		</if>
		<if test="year!=null and year!=''">
			,year
		</if>
		<if test="director!=null and director!=''">
			,director
		</if>
		<if test="actor!=null and actor!=''">
			,actor
		</if>
		<if test="remark!=null and remark!=''">
			,remark
		</if>
		, inDate)
		VALUES(#{name}
		<if test="country!=null and country!=''">
			,#{country}
		</if>
		<if test="year!=null and year!=''">
			,#{year}
		</if>
		<if test="director!=null and director!=''">
			,#{director}
		</if>
		<if test="actor!=null and actor!=''">
			,#{actor}
		</if>
		<if test="remark!=null and remark!=''">
			,#{remark}
		</if>
		,#{inDate})
	</insert>

	<update id="updateMovie" parameterType="record">
		UPDATE saw
		<set>
			<if test="name!=null and name!=''">
				name=#{name},
			</if>
			<if test="country!=null and country!=''">
				country=#{country},
			</if>
			<if test="year!=null and year!=''">
				year=#{year},
			</if>
			<if test="director!=null and director!=''">
				director=#{director},
			</if>
			<if test="actor!=null and actor!=''">
				actor=#{actor},
			</if>
			<if test="remark!=null and remark!=''">
				remark=#{remark},
			</if>
			<if test="inDate!=null and inDate!=''">
				inDate=#{inDate}
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<resultMap type="record" id="Records">
		<id property="id" column="id"></id>
		<result property="name" column="name"></result>
		<result property="country" column="country"></result>
		<result property="year" column="year"></result>
		<result property="director" column="director"></result>
		<result property="actor" column="actor"></result>
		<result property="remark" column="remark"></result>
		<result property="inDate" column="inDate"></result>
	</resultMap>

	<insert id="insertMovieBackup" parameterType="record"
		flushCache="true" statementType="PREPARED">
		INSERT INTO
		saw(name ,country,year
		,director ,actor ,remark , inDate)
		VALUES(#{name,jdbcType=VARCHAR}
		,#{country,jdbcType=VARCHAR} ,#{year,jdbcType=VARCHAR}
		,#{director,jdbcType=VARCHAR} ,#{actor,jdbcType=VARCHAR}
		,#{remark,jdbcType=VARCHAR} ,#{inDate})
	</insert>


    <select id="testM" parameterType="record" resultMap="Records">
        SELECT
        *
        FROM
        saw
            <if test="id!=null and id!=''">
                id = #{id}
            </if>
    </select-->
</mapper>